@import url(https://fonts.googleapis.com/css2?family=Great%20Vibes&display=swap);
* body {
	background-color: #e2e8f0;
	align-content: center;
	align-items: center;
}

.user-avatar {
	text-align: center;
	vertical-align: middle;
	/* border: outset #000000 2px; */
}

@media (max-width: 75em) {
	.user-card {
		padding-left: 20px;
		padding-right: 20px;
		display: inline;
	}
}

/* .user-card {
	margin: 0 auto;
	width: "33.33%";
} */

.user-card-grid {
	width: "33.33%";
	text-align: justify;
	margin: 20px;
}

.user-name-user-role {
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}

.user-content {
	font-size: larger;
	font-weight: "bold";
	color: #000000;
}

.user-details {
	margin-bottom: 20px;
}

.user-button {
	color: #ffffff;
	background-color: #000000;
	border: 1px #ffffff groove;
	width: 100px !important;
	font-size: large;
}

.user-button:hover {
	border: 1px #000000 groove;
	color: #000000;
	font-weight: bold;
}

.user-social-media-button:hover {
	background-color: #b3ddf2;
	color: #ff0000;
}

.user-github-icon {
	color: #000000;
	font-size: 1.8em;
}

.user-github-icon:hover {
	color: #ff0000;
	font-size: 1.8em;
	font-weight: bold;
	background-color: #b3ddf2;
}

.user-linkedin-icon {
	color: #000000;
	font-size: 1.8em;
}

.user-linkedin-icon:hover {
	color: #ff0000;
	font-size: 1.8em;
	font-weight: bold;
	background-color: #b3ddf2;
}

.user-twitter-icon {
	color: #000000;
	font-size: 1.8em;
}

.user-twitter-icon:hover {
	color: #ff0000;
	font-size: 1.8em;
	font-weight: bold;
	background-color: #b3ddf2;
}

.page-skeleton {
	padding-bottom: 40px;
}

.layout-header-fixed {
	position: fixed;
	background: #ffffff;
	box-shadow: 0 2px 8px #f0f1f2;
	padding: 0;
	z-index: 1;
	width: 100%;
}

.layout-logo-fixed {
	/* background: rgba(255, 255, 255, 0.2) */
	display: inline-block;
	padding: 0 0px;
	padding-left: 10px;
}

.layout-logo {
	width: 124px;
}

.layout-anchor {
	font-family: 'Great Vibes', cursive;
	font-size: 3rem;
	color: #000000;
}

.header-text {
	color: #000000;
}

.layout-anchor:hover {
	color: #eb57a3;
}

.error-banner {
	position: fixed;
	width: 100%;
	top: 64px;
	left: 0;
	z-index: 99;
}

.spin-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.affix-header {
	z-index: 99;
}

.app-layout {
	position: relative;
	background: #ffffff;
	min-height: 100vh;
}

.ant-card-actions {
	background-color: #000000;
}

/* .header {
	padding-bottom: 20px;
	font-size: large;
	margin-bottom: 20px;
} */
