* body {
    background-color: #ffffff;
    align-content: center;
    align-items: center;
}

.user-avatar {
	text-align: center;
    vertical-align: middle;
    border: double #000000 2px;
}

.user-card {
	margin: 0 auto;
	width: "33.33%";
}

.user-card-grid {
	width: "33.33%";
	text-align: justify;
    margin: 20px;
}

.user-details {
	margin-bottom: 20px;
}

.page-skeleton {
	padding-bottom: 40px;
}

.header-fixed {
	
}

.error-banner {
	position: fixed;
	width: 100%;
	top: 64px;
	left: 0;
	z-index: 99;
}

.spin-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.affix-header {
    z-index: 99;
    padding: 20px;
}

.app-layout {
	position: relative;
	background: #ffffff;
	min-height: 100vh;
}

/* .ant-card-actions {
    background-color: #000000;
} */


/* .header {
	padding-bottom: 20px;
	font-size: large;
	margin-bottom: 20px;
} */
