{
	"semi": true,
	"singleQuote": false,
	"trailingComma": "none",
	"tabWidth": 2,
	"arrowParens": "avoid",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"quoteProps": "as-needed",
	"printWidth": 80
}
