@import url(https://fonts.googleapis.com/css2?family=Great%20Vibes&display=swap);

.user-card {
	padding-left: 20px;
	padding-right: 20px;
}

.user-name-user-role {
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}

.user-content {
	font-size: larger;
	font-weight: "bold";
	color: #000000;
}

.user-button {
	color: #ffffff;
	background-color: #000000;
	border: 1px #ffffff solid;
	width: 100px !important;
	font-size: large;
	box-shadow: 0 2px 8px #f0f1f2;
}

.sub-nav-button {
	color: #ffffff;
	background-color: #000000;
	border: 1px #ffffff solid;
	width: 100px !important;
	font-size: large;
	box-shadow: 0 2px 8px #f0f1f2;
}

.sub-nav-button:hover {
	color: #000000;
	background-color: #ffffff;
	border: 1px #000000 solid;
	width: 100px !important;
	font-size: large;
	box-shadow: 0 2px 8px #f0f1f2;
	font-weight: bold;
}

.sub-nav-row {
	align-content: center;
	padding-left: 6em;
}

.user-social-media-button {
	background: #000000;
	outline: #ffffff .5px solid;
}

.user-social-media-button:hover {
	color: #b3ddb3;
}

.user-social-media-icon {
	color: #ffffff;
	font-size: 1.8em;
	font-weight: bold;
	margin: 1px 0 2px 0;
}

.user-social-media-icon:hover {
	color: #000000;
	font-size: 1.8em;
	font-weight: bold;
}

.page-skeleton {
	padding-bottom: 40px;
}

.layout-header-fixed {
	position: fixed;
	background: #ffffff;
	box-shadow: 0 2px 8px #f0f1f2;
	padding: 0;
	z-index: 1;
	width: 100vw;
}

.layout-anchor {
	font-family: "Great Vibes", cursive;
	font-size: 3rem;
	color: #000000;
}

.header-text {
	color: #000000;
}

.header-text:hover {
	color: #eb57a3;
}

.layout-anchor:hover {
	color: #eb57a3;
}

@media (min-width: 992px) .ant-col-lg-8 {
	display: block;
	/* flex: 0 0 33.33333333%; */
	/* max-width: 33.33333333%; */
}
.ant-col-xs-24 {
	display: block;
	flex: 0 0 100%;
	/* max-width: 100%; */
}
.ant-col {
	position: relative;
	max-width: 100%;
	min-height: 1px;
}

html {
	overflow: auto;
}
body,
html {
	height: 100%;
	width: 100%;
}
.app-layout {
	background-size: cover;
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
	position: relative;
}

.body-layout {
	background-size: cover;
	background: #000000; /* fallback for old browsers */
}

.ant-card-actions {
	background-color: #000000;
}

.index-row {
	height: 100%;
	width: 100%;
	align-content: center;
}

.footer {
	box-shadow: 4px rgba(29, 34, 108, 0.1);
	font-size: larger;
}

.index-row-keeper {
	padding-top: 10em;
	height: 100%;
}

.index-card {
	display: "inlibe-block";
	text-align: "justify";
	margin: 20px;
	position: "relative";
}
