@import url(https://fonts.googleapis.com/css2?family=Great%20Vibes&display=swap);

.index-button {
	width: 200px;
	border: solid black 3px;
	background-color: #ffffff;
	align-content: center;
}

.index-button:hover {
	width: 200px;
	outline: solid #ffffff 2px;
	background-color: #b3ddf2;
}

.index-anchor {
	color: #000000;
	font-weight: bolder;
	letter-spacing: 0.15em;
	font-family: "Julius Sans One";
}

.index-anchor:hover {
	color: #ff0000;
}

.about-to-home-button {
	color: #000000;
	padding: 10px 0 20px;
	float: right;
	width: 55%;
	vertical-align: center;
}

.user-card {
	padding-left: 20px;
	padding-right: 20px;
}

.user-name-user-role {
	font-weight: bold;
	font-size: 30px;
	color: #000000;
}

.user-content {
	font-size: larger;
	font-weight: "bold";
	color: #000000;
}

.user-details {
	margin-bottom: 20px;
}

.user-button {
	color: #ffffff;
	background-color: #000000;
	border: 1px #ffffff solid;
	width: 100px !important;
	font-size: large;
	box-shadow: 0 2px 8px #f0f1f2;
}

.user-social-media-button {
	background-color: #000000;
}

.user-social-media-button:hover {
	color: #b3ddb3;
}

.user-social-media-icon {
	color: #ffffff;
	font-size: 1.8em;
	font-weight: bold;
}

.user-social-media-icon:hover {
	color: #b3ddb3;
	font-size: 1.8em;
	font-weight: bold;
}

.page-skeleton {
	padding-bottom: 40px;
}

.layout-header-fixed {
	position: fixed;
	background: #ffffff;
	box-shadow: 0 2px 8px #f0f1f2;
	padding: 0;
	z-index: 1;
	width: 100vw;
}

.to-about-button {
	padding-top: 100px;
}

.layout-logo-fixed {
	/* background: rgba(255, 255, 255, 0.2) */
	display: inline-block;
	padding: 0 0px;
	padding-left: 10px;
}

.layout-logo {
	width: 124px;
}

.layout-anchor {
	font-family: "Great Vibes", cursive;
	font-size: 3rem;
	color: #000000;
}

.header-text {
	color: #000000;
}

.header-text:hover {
	color: #eb57a3;
}

.layout-anchor:hover {
	color: #eb57a3;
}

.error-banner {
	position: fixed;
	width: 100%;
	top: 64px;
	left: 0;
	z-index: 99;
}

.spin-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media (min-width: 992px) .ant-col-lg-8 {
	display: block;
	/* flex: 0 0 33.33333333%; */
	/* max-width: 33.33333333%; */
}
.ant-col-xs-24 {
	display: block;
	flex: 0 0 100%;
	/* max-width: 100%; */
}
.ant-col {
	position: relative;
	max-width: 100%;
	min-height: 1px;
}

html {
	overflow: auto;
}
body,
html {
	height: 100%;
	width: 100%;
}
.app-layout {
	background-size: cover;
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to bottom,
		#434343,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
	position: relative;
}

.body-layout {
	background-size: cover;
	background: #000000; /* fallback for old browsers */
}

.ant-card-actions {
	background-color: #000000;
}

.index-row {
	height: 100%;
	width: 100%;
	align-content: center;
}

.footer {
	box-shadow: 4px rgba(29, 34, 108, 0.1);
	font-size: larger;
}

.index-row-keeper {
	padding-top: 10em;
	height: 100%;
}

.index-card {
	display: "inlibe-block";
	text-align: "justify";
	margin: 20px;
	position: "relative";
}
